<launch>
<!--注释,写入参数服务器-->
<rosparam command="load" file="$(find demo_turtle2)/param/parameter.yaml"/>
<!--以下是节点启动(name应该是随便起的)-->
<node pkg="turtlesim" type="turtlesim_node" name="turtle_show"/>
<node pkg= "turtlesim" type="turtle_teleop_key" name="turtle_control"/>
<node pkg= "demo_turtle2" type="demo_turtle2_sub_c" name="sub_pub_c"/>
<!--tmd我服了启动python节点需要加.py-->
<node pkg= "demo_turtle2" type="demo_turtle2_pub_p.py" name="pub_p"/>
</launch>